#忽略windows生成的缩略图文件
Thunbs.db
#忽略Visual Studio生成时的产生的文件
*.obj
*.exe
*.pdb
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
*.swp
*.csproj.user
*.pubxml.user
.vs/
/debug
/publish
/src/Logging.Server.Site/obj
/src/Logging.Server.Site/bin
/src/Logging.Server/obj
/src/Logging.Server/bin
/src/Logging.Client/obj
/src/Logging.Client/bin
/src/Logging.Client.Examples/obj
/src/Logging.Client.Examples/bin

